.search {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-flow: column nowrap;
  color: rgb(4, 1, 32);
}
.search--top {
  display: flex;
  justify-content: flex-start;
}